[submodule "docs/theme"]
	path = docs/theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "main/src/scpi_parser"]
	path = main/src/scpi_parser
	url = git@github.com:aanas-sayed/Vrekrer_scpi_parser.git
